.new {
  background-color: rgb(9, 255, 173);
  display: flex;
  flex-direction: column;
  min-height: 11rem;

  justify-content: space-between;

  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.textField {
  outline: none;
  resize: none;
  border: none;
  background-color: rgb(9, 255, 173);
  resize: none;
}

/* textarea:invalid {
  border: 2px dashed red;
}

textarea:valid {
  border: 2px solid lime;
} */

.btn {
  border-radius: 30%;
  background-color: transparent;
  border: none;
}
