@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Bebas+Neue&display=swap");

body {
  margin: 0;
  font-family: "Alkatra", cursive;
  /* font-family: "Bebas Neue", cursive; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
